<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>夸客信息录入系统</title>
 </head>
 <body bgcolor="#6E6E6E"> 
<ul link="#808080" vlink="#808080" alink="#808080">
  <li><a href="http://172.16.250.50/zabbix/zabbix.php?action=dashboard.view" target="_blank">Zabbix 监控官网</a></li><br/>
  <li><a href="http://172.30.30.77/qcredit-frontal" target="_blank">IDC审核系统</a></li><br/>
  <li><a href="http://qcredit.quark.com/qcredit-frontal" target="_blank">SH审核系统</a></li><br/>
  <li><a href="http://qcredit-wh.quark.com/qcredit-frontal" target="_blank">WH审核系统</a></li><br/>
  <li><a href="http://172.30.33.88:8080/" target="_blank">Jenkins[172.30.33.88]</a></li><br/>
  <li><a href="http://itop.quarkfinance.com" target="_blank">ITOP</a></li><br>
</ul>
 </p>
 </body>
</html>

